BODY {
	font-family:Verdana;
}

/* Make everything on the page border-box sizing.
	See: https://developer.mozilla.org/En/CSS/Box-sizing
	
	NOTE:
	    *  -moz-box-sizing doesn't apply to table cells
	    * min-height/max-height does not work for -moz-box-sizing: border-box

*/
BODY * {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

/* TODO: split this into its own file? */
#Notifier {
	position:fixed;
	left:20%;
	right:20%;
	top:20%;
	z-index:1000000;
	opacity:.6;
	-moz-border-radius:10px;
	background:black;
	border:3px solid #ccc;
	color:white;
	text-align:center;
	font-size:2em;	
	padding:.5em;
}