<!-- begin footer.html -->
<div class="fineprint" style="clear:both">
	<if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
	Generated on {+new Date()+} by <a href='http://code.google.com/p/jsdoc-toolkit/'>JsDoc Toolkit</a>
</div>
<!-- end footer.html -->
